{% load static %}
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>{% if page.title %}{{ page.title }}{% elif news.title %}{{ news.title }}{% elif newses %}Mealmapp - Last news of the project{% elif post.title %}{{ post.title }}{% elif posts %}Mealmapp - Blog of developers{% endif %}</title>
	<meta name="keywords" content="{{ page.keywords }}"/>
	<meta name="description" content="{{ page.desc }}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.5.7/lottie.min.js" type="text/javascript"></script>

	<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
	<div class="menu">
		<div class="body">
			<nav class="navbar navbar-expand-lg">
				<a class="logo" href="/"><img src="/media/main/Mealmapp.svg"></a>
				<button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto my-2 my-lg-0">
						<li class="nav-item my-auto pad-hor-25">
							<a class="nav-link text-item" href="/about/">About</a>
						</li>
						<li class="nav-item my-auto pad-hor-25">
							<a class="nav-link text-item" href="/news/">News</a>
						</li>
						<li class="nav-item my-auto pad-hor-25">
							<a class="nav-link text-item" href="/blog/">Blog</a>
						</li>
						<li class="nav-item my-auto pad-hor-25">
							<a class="nav-link text-item" href="#"><img src="/media/main/Search.svg"></a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	
	{% block content %}
	{% endblock %}

	<div class="body">
		<div class="container-fluid py-5">
			<div class="row text-center">
				<div class="col-12 mb-3 text">Join our newsletter</div>
				<div class="col-lg-12">
					<div class="input-group email-button mx-auto">
						<input type="text" class="form-control email-input" placeholder="E-mail" aria-label="E-mail" aria-describedby="basic-addon2">
						<div class="input-group-append">
							<button class="btn" type="button"><img src="/media/main/right-arrow.svg" width="22px" height="22px"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid pt-5">
			<div class="row py-2">
				<div class="col-12 col-lg-7 col-xs-12">
					<div class="title pb-3"><h1>Mealmapp - personal nutrition assistant</h1></div>
					<div class="text-item pb-4">Official site of project personal meal recommendation system.
					Calculation based on data of vital statistic, taste preferences and history of consumption. Important part of the project that all personal information belongs only to user and never used for advertisment or etc.</div>
					<div class="row py-3">
						<div class="col-6 col-lg-4 col-md-4 col-xs-6">
							<div class="text"><a href="#" class="text">About</a></div>
							<div class="text"><a href="#" class="text">Company</a></div>
							<div class="text"><a href="#" class="text">Team</a></div>
							<div class="text"><a href="#" class="text">Blog</a></div>
							<div class="text"><a href="#" class="text">News</a></div>
						</div>
						<div class="col-6 col-lg-4 col-md-4 col-xs-6">
							<div class="text"><a href="#" class="text">Catalog</a></div>
							<div class="text"><a href="#" class="text">Service</a></div>
							<div class="text"><a href="#" class="text">Payment</a></div>
							<div class="text"><a href="#" class="text">Delivery</a></div>
							<div class="text"><a href="#" class="text">Support</a></div>
						</div>
						<div class="col-12 col-lg-3 col-md-4 col-xs-12 text-center pt-md-0 pt-sm-3">
							
			        		<a class="dropdown-toggle text-item font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			        			<img class="pr-2" width="31px" src="/media/main/lang.png" style="color: #FFFFFF">
			        			English (EU)
			        		</a>
			        		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			    				<a class="dropdown-item" href="#">English (EU)</a>
			        			<a class="dropdown-item" href="#">Русский (RU)</a>
			        		</div>

				      	</div>
					</div>
					<div class="row"></div>
				</div>
				<div class="col-12 col-lg-1"></div>
				<div class="col-12 col-lg-4 col-xs-12">
					<div class="container-fluid px-0">
						<div class="row text-center">
							<div class="col-12">
								<img class="circle py-3" style="width:325px !important;" src="/media/main/company.png">
								<div class="text">Mealmapp LTD.</div>
								<div class="text-item text-center">write_to@mealmapp.io</div>
							</div>
							<div class="col-12">
								<div class="row py-2">
									<div class="col-12 col-lg-6 col-xs-12 px-0 py-3"><img width="168px" src="/media/main/app-store.png"></div>
									<div class="col-12 col-lg-6 col-xs-12 px-0 py-3"><img width="168px" src="/media/main/google-play.png"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row pb-5">
				<div class="col-12">
					<div class="text-item">© 2019 Mealmapp — personal nutrition assistant. All rights reserved. <a class="text-item" href="#">Terms of Use</a> and <a class="text-item" href="#">Privacy Policy</a></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>