{% extends 'pages/base.html' %}

{% block content %}

	<div class="container-fluid text position">
		<div class="row">
			<div class="col-lg-6 col-xs-12 align-self-start">
				<p>Global food management system</p>
				<p>Analysis production and&nbsp;consumption around the&nbsp;world powered on&nbsp;a&nbsp;data from users and&nbsp;companies</p>
				<a href="#">Learn more ---></a>
			</div>
		</div>
	</div>
	<img src="/media/{{ page.url }}/louie-animation.png" width="100%">
	<div class="container-fluid text bot-pad">
		<div class="row">
			<div class="col-lg-7 col-xs-12 align-self-start title">
				<p>Latest news of the project</p>
			</div>
		</div>
		<div class="row">

			{% for news in last_news %}
			<div class="col-lg-3 col-md-6 col-xs-6 v-padding">
				<div class="col-12 tile inner">
					{% if news.main_picture %}
					<img src="/media/news/{{ news.main_picture }}">
					{% endif %}
					<div class="col-12 v-padding">
						<p>{{ news.title }}</p>
						<a href="{% url 'news_detail' url=news.url %}">Read more ---></a>
					</div>
				</div>
			</div>
			{% endfor %}

			<div class="col-lg-3 col-md-6 col-xs-6 v-padding">
				<div class="col-12 tile no-border">
					<div class="col-12 v-padding">
						<p>Check all news about project status, company life and community development</p>
						<a href="/news/">Browse more ---></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% if banners %}

	{% for banner in banners %}
	<div class="banner block" style="background-image: url(/media/{{ page.url }}/{{ banner.image }}); background-repeat: no-repeat; background-position: top;">
		<div class="container-fluid text">
			<div class="row">
				<div class="col-lg-6 col-xs-12 align-self-start position">
					<p>{{ banner.title }}</p>
					<p>{{ banner.desc|linebreaksbr }}</p>
					<a href="{{ banner.link }}">{{ banner.button_text }} ---></a>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}

	{% endif %}
	<div class="container-fluid text">
		<div class="row">
			<div class="col-lg-7 col-xs-12 align-self-start title">
				<p>Use smart devices to collect more information about your vital statistic and to simplify your expirience with application</p>
			</div>
		</div>
		<div class="row bot-pad">
			<div class="col-lg-3 col-md-6 col-xs-6 v-padding">
				<div class="col-12 tile outter">
					<img src="/media/{{ page.url }}/device.png">
				</div>
				<div class="col-12 v-padding">
					<p>Smart scales<br>
					Dark wood version</p>
					<a href="#">Learn more ---></a>
				</div>
			</div>
			
			<div class="col-lg-3 col-md-6 col-xs-6 v-padding">
				<div class="col-12 tile outter">
					<img src="/media/{{ page.url }}/device.png">
				</div>
				<div class="col-12 v-padding">
					<p>Smart scales<br>
					Dark wood version</p>
					<a href="#">Learn more ---></a>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 col-xs-12 v-padding">
				<div class="col-12 tile outter" style="background-image: url(/media/{{ page.url }}/catalog.png); background-repeat: no-repeat; background-size: cover; background-position: top;">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12 v-padding"><a href="#">Watch full device catalog ---></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid top-pad top-border-grad">
		<div class="row">
			<div class="col-lg-12 col-xs-12 align-self-start text">
				<h1>{{ page.title }}</h1>
				<p>{{ page.seo_text|linebreaksbr }}</p>
			</div>
		</div>
	</div>

{% endblock %}